* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-family: 'Ibarra Real Nova', serif;
  border-bottom: 2px solid #e04c59;
  position: fixed;
  top: 0px;
  background-color: #fff;
  padding-top: 5px;
}

.nav-links {
  display: grid;
  grid-auto-flow: column;
  grid-column: 2/4;
  align-items: center;
}

.nav-links li {
  text-align: center;
  list-style: none;
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #747474;
}

.nav-links a:visited,
.nav-links a:active {
  color: #747474;
}

.nav-links a:hover {
  color: #e04c59;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
}

.logo h1 {
  color: #747474;
  font-size: 22px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.burger {
  display: none;
}

.burger:hover {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #747474;
  transition: all 0.5s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.container {
  width: 70%;
  margin: auto;
  display: grid;
}

.container section {
  min-height: 100vmax;
  padding-top: 70px;
}

.projects {
  display: grid;
  grid-template-rows: min-content auto;
}

.projects > h1 {
  text-align: center;
  color: #e04c59;
  font-size: 2em;
  padding-bottom: 15px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 30px 0px;
  align-items: center;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  max-height: 80%;
}

.details {
  display: grid;
  grid-template-rows: auto minmax(300px, auto) 58px;
  justify-items: center;
  align-items: center;
}

.details h1 {
  text-align: center;
  color: #747474;
  font-weight: 400;
}

.details p {
  text-align: center;
  color: #747474;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #e04c59;
  padding: 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.bottomBar {
  border-bottom: 2px solid #e04c59;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }

  nav {
    width: 90%;
  }

  .project img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }

  .logo img {
    width: 40px;
    height: 50px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-links {
    display: grid;
    grid-auto-flow: row;
    grid-column: 1/4;
    overflow: hidden;
    transition: max-height 1s ease-out;
    height: auto;
    max-height: 0px;
  }

  .nav-closed {
    max-height: 0px;
  }

  .nav-links li {
    margin: 10px;
  }

  .logo {
    grid-column: 1/3;
  }

  .burger {
    display: block;
    grid-column: 3/4;
    grid-row: 1;
    justify-self: end;
    margin: auto 0 auto 0;
  }

  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(auto, 350px);
  }

  .details {
    grid-gap: 20px;
    grid-template-rows: auto minmax(100px, auto) 58px;
  }

  .details h1 {
    font-size: 18px;
  }

  .container {
    width: 98%;
  }

  .project img {
    max-width: 70%;
    max-height: 60%;
  }
}

@media screen and (max-width: 450px) {
  .project img {
    max-width: 95%;
  }
}

@media screen and (max-width: 375px) {
  .logo h1 {
    font-size: 17px;
  }

  .btn {
    padding: 16px;
  }

  .project img {
    max-width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .btn {
    padding: 10px;
  }
}

.nav-active {
  display: grid;
  grid-auto-flow: row;
  transition: max-height 1s ease-in;
  height: auto;
  max-height: 1000px;
}
