* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

nav {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-family: 'Ibarra Real Nova', serif;
  border-bottom: 2px solid #e04c59;
  margin: 5px auto 15px auto;
  scroll-snap-align: center;
}

.nav-links {
  display: grid;
  grid-auto-flow: column;
  grid-column: 2/4;
  align-items: center;
}

.nav-links li {
  text-align: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #747474;
}

.nav-links a:hover {
  color: #e04c59;
}

.burger {
  display: none;
}

.burger:hover {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #747474;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #747474;
  font-size: 18px;
  padding-left: 10px;
  text-decoration: none;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.container {
  width: 80%;
  margin: auto;
}

.container section {
  height: 100vh;
  scroll-snap-align: center;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }

  .logo img {
    width: 45px;
    height: 45px;
  }

  .logo {
    font-size: 14px;
  }

  .nav-links {
    grid-column: 1/4;
    display: none;
    transition: height 8s;
  }

  .nav-links li {
    margin: 10px;
  }

  .logo {
    grid-column: 1/3;
  }

  .burger {
    display: block;
    grid-column: 3/4;
    grid-row: 1;
    justify-self: end;
    margin: auto 0 auto 0;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }
}

.nav-active {
  display: grid;
  grid-auto-flow: row;
}
